<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Victuz</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="navbar">
        <div class="navbar-left">
            <a href="/" class="logo">Victuz</a>
        </div>
        <nav class="navbar-center">
            <a href="/events">Evenementen</a>
            <a href="/forum">Forum</a>
            <a href="/about">Over ons</a>
        </nav>
        <div class="navbar-right">
            <a href="/account" class="account-icon">
                <img src="https://i.ibb.co/jRWYnxg/avatar-icon-white.png" alt="Account">
            </a>
        </div>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>
    
    <footer>
        <!-- Your footer content here -->
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
