@model CasusVictuz.Models.Location

@{
    ViewData["Title"] = "Create";
}

<h1>Maak locatie</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Locatie</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spots" class="control-label">Aantal plekken</label>
                <input asp-for="Spots" class="form-control" />
                <span asp-validation-for="Spots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Maak" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
